# Maths Challenge Quiz - GITIGNORE file
# Copyright 2019 - Ethan Marshall

# Ignore build files
build/Maths Challenge Quiz
build/Maths Challenge Quiz.exe
build/.gdb_history

# Ignore all executables
*.exe
*.o

# Ignore the contents of the private directory
# Use this for what you want
private/*

# Ignore language configuration files
.vscode/settings.json