# Maths Challenge Quiz - GITIGNORE file
# Copyright 2019 - Ethan Marshall

# Ignore build files
build/
.cache/

# Ignore all executables
*.exe
*.o
*.a
*.lib

*.pdb
*.ilk

# Ignore visual studio files, if used
.vs/

# Ignore the contents of the private directory
# Use this for what you want
private/

# Ignore language configuration files
.vscode/settings.json

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CMake Patch
# External projects
*-prefix/

# Ninja
.ninja_deps
.ninja_log
rules.ninja
build.ninja
